.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.header-box {
  background-color: black;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-contents {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-links {
  display: flex;
  flex-direction: row;
  margin: 20px;
  height: fit-content;
}

.header-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.header-link:hover {
  color: lightgray;
}

#name {
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 85px;
  margin-left: 120px;
  margin-bottom: 0;
  margin-top: 0;
}

#header-description {
  font-size: 30px;
  color: white;
  font-family: "Open Sans Condensed", sans-serif;
  margin-left: 130px;
  margin-top: 0;
}

@media only screen and (max-width: 1030px) {
  .header-box {
    flex-direction: column-reverse;
    height: 300px;
  }
  #name,
  #header-description {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .header-box {
    width: 85%;
    height: 230px;
  }
  #name {
    font-size: 45px;
  }
  #header-description {
    font-size: 25px;
  }
  .header-link {
    font-size: 12px;
  }
}
